# Import subdomain configurations at top level
import /home/dhughes/apps/*/caddy-subdomain.conf

doughughes.net, www.doughughes.net {
	# Import all app configurations
	# This includes the doughughes-net app which provides the catch-all handler
	import /home/dhughes/apps/*/caddy.conf
}
