doughughes.net, www.doughughes.net {

	# Random Word
	handle /random-word* {
		forward_auth localhost:8000 {
			uri /verify
		}
		reverse_proxy localhost:8001
	}

	# Lottery Numbers
	handle /lottery* {
		reverse_proxy localhost:8002
	}

	# Auth service handles: /, /login, /logout, /account, /admin/*, /app-image/*
	handle {
		reverse_proxy localhost:8000
	}
}